# Docker #
##########
.log
.env 
db_data/*  # Local data from your MySQL container
user_db_data
question_db_data

# Java and Maven #
##################
/target/  # Compiled binaries and other Maven outputs
.jar
.war
.ear
.class
.log

# General #
###########
.DS_Store  # For Mac users
*.swp      # For Vim users

